In [1]:
# import regular expressions
import re
import pandas as pd

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(string):
    '''
    function takes a string and returns whether the string is a vowel or not
    '''
    regex = r'[aeiou]'
    return bool(re.search(regex, string.lower()))

In [3]:
# try function with a vowel
is_vowel('e')

True

In [4]:
# try function with a non-vowel
is_vowel('p')

False

2. Write a function named is_valid_username that accepts a string as input. 

A valid username meets the following criteria: 
- starts with a lowercase letter 
- consists of lowercase letters, numbers, or the '_' character
- no longer than 32 characters 
- function should return True or False depending on whether the passed string is a valid username

In [5]:
def is_valid_username(username):
    '''
    function takes a password string and returns whether or not the string passed the critera of a username:
    '''
    regex = r'^[a-z][a-z0-9_]{,31}$'
    return bool(re.search(regex, username))

In [6]:
# verify the function works

username = 'homerun300_2022'
is_valid_username(username)

True

In [7]:
# verify the function works starting with a capital

username = 'Homerun300_2022'
is_valid_username(username)

False

In [8]:
# verify the function works other random special character

username = '34me?today2022'
is_valid_username(username)

False

In [9]:
# verify the function works longer than 32 characters

username = 'homerun300_jinemityenslew892345njoadohh2022'
is_valid_username(username)

False

3. Write a regular expression to capture phone numbers. It should match all of the following:
 - (210) 867 5309
 - +1 210.867.5309
 - 867-5309
 - 210-867-5309

In [10]:
 numbers = ['(210) 867 5309', '+1 210.867.5309','867-5309', '210-867-5309']

In [11]:
phones = pd.DataFrame()
phones['number'] = numbers

In [13]:
regex = r'^(?P<country_code>\+\d+)?\D*?(?P<area_code>\d{3})?\D*?(?P<exchange_code>\d{3})\D*?(?P<line_number>\d{4})\D*$'

In [15]:
phones.number.str.extract(regex)

  country_code area_code exchange_code line_number
0          NaN       210           867        5309
1           +1       210           867        5309
2          NaN       NaN           867        5309
3          NaN       210           867        5309

4. Use regular expressions to convert the dates below to the standardized year-month-day format:
 - 02/04/19
 - 02/05/19
 - 02/06/19
 - 02/07/19
 - 02/08/19
 - 02/09/19
 - 02/10/19

In [44]:
dates = ['02/04/19', '02/05/19', '02/06/19', '02/07/19', '02/08/19', '02/09/19', '02/10/19']

In [45]:
date_format = pd.DataFrame()
date_format['old_format'] = dates
date_format

  old_format
0   02/04/19
1   02/05/19
2   02/06/19
3   02/07/19
4   02/08/19
5   02/09/19
6   02/10/19

In [49]:
pattern = re.compile(r"""
(?P<month>\d{2})/
(?P<day>\d{2})/
(?P<year>\d{2})
""", re.VERBOSE)

In [50]:
date_format.old_format.str.extract(pattern)

  month day year
0    02  04   19
1    02  05   19
2    02  06   19
3    02  07   19
4    02  08   19
5    02  09   19
6    02  10   19

5. Write a regex to extract the various parts of these logfile lines:

 - GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
 - POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
 - GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58